<?xml version="1.0" encoding="UTF-8"?>
<suite name="UI test">
    <listeners>
        <listener class-name="UI.Listner_test"/>
    </listeners>
    <test name="Test">
        <classes>
            <!--<class name ="UI.ParallelTests"/>-->
            <class name ="Examples.PairSum"/>
        </classes>
    </test>

</suite>